<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1 class="text-center my-2 p-2">Add New Skill</h1>

<div class="mx-auto col-8 col-md-8 col-lg-6">
    <form action="/skills" method="POST" autocomplete="off">

  <label  class="form-label" style="font-size: 2vmin;"> Add Skill</label>
  <input class="form-control my-2" type="text" name="name" placeholder="Name" >
  <input class="form-control my-2" type="text" name="image" placeholder="Avatar" >
  <input class="form-control my-2" type="text" name="skill" placeholder="Skills" >
  <button class="btn btn-primary my-3 px-4" type="submit">Save Skill</button>
    </form>
</div>


<%- include('../partials/footer') %>