<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main class="px-3">
          
    <h1>Express-Skills</h1>
    <p class="lead">Welcome to my Express App.</p>
    <p class="lead">
      <a href="/skills" class="btn btn-lg btn-dark fw-bold border-white">View Skills</a>
    </p>
</main>

</div>

<%- include('./partials/footer')%>

 
